* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i, svg {
  pointer-events: none;
}

.sequencer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kick-track, .snare-track, .hihat-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5rem;
}

.kick-pad, .snare-pad, .hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background: #a0d3e0;
}

.kick-pad.active {
  background: #3bc5e7;
}

.snare-pad {
  background: #e0a0d0;
}

.snare-pad.active {
  background: #da3ab2;
}

.hihat-pad {
  background: #e0c2a0;
}

.hihat-pad.active {
  background: #f19e40;
}

.controls, .kick, .snare, .hithat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.controls {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0rem 2rem;
}

.controls h1 {
  width: 10%;
}

.controls .mute {
  padding: 1rem;
  border: none;
  color: white;
  font-size: 1rem;
  background: #595959;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.controls .mute:focus {
  outline: none;
}

.controls .mute.active {
  background-color: #b4b4b4;
}

.pad {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: #585858;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}

.play:focus {
  outline: none;
}

select {
  padding: 1rem;
  font-size: 1rem;
  width: 25%;
}

.tempo {
  margin: 3rem;
  width: 30%;
}

.tempo p {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
}

.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background-color: #585858;
  cursor: pointer;
  border-radius: 1rem;
}

.tempo-slider:focus {
  outline: none;
}

@-webkit-keyframes playTrack {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes playTrack {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
/*# sourceMappingURL=main.css.map */